<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  {{#if infoMessages}}
  <p class="info">{{infoMessages}}</p>
  {{/if}}
  {{#if errorMessages }}
  <p class="error">{{ errorMessages }}</p>
  {{/if }}
  {{#if currentUser }}
  <p>name: {{ currentUser.username }}</p>
  <a href="/logout">Logout</a>
  {{else}}
  <a href="/login">Login</a>
  <a href="/signup">signup</a>
  {{/if}}
  {{{body}}}
</body>

</html>